/Archive
/Assessment
/Canvas
/DataCamp
/Grades
# /Notebooks
/Notebooks/.quarto/
/Notebooks/.ipynb_checkpoints/
/Notebooks/_site/
/Office\ Hours
/OSCCR
/Participation
/Projects
# /Syllabus
/Teammates
*.csv
*.txt
*.zip
*.xlsx
*.sqlite
*checkpoint.ipynb
